*{
    margin: 0;
    padding: 0;
}
.d-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.color-darkmagenta{
    color: darkmagenta;
}
.color-forestgreen{
    color: forestgreen;
}
.padding-25{
    padding: 25px;
}
.container1{
    width: 100px;
    -webkit-box-reflect: right;
}
.container2{
    width: 200px;
    -webkit-box-reflect: right 20px;
    opacity: 0.5;
}
.container2:hover{
    opacity: 1;
    cursor: pointer;
}
.container3{
    width: 300px;
    -webkit-box-reflect: right 20px linear-gradient(to left, rgba(0,0,0,0.1), rgba(0,0,0,0.6));
    cursor: pointer;
}
